{% load static %}
<div class="carousel" id="nav_home">
    <div class="slider">
        <div class="slide slide_current">
            <div class="slide_content">
                <h1>Slide One</h1>
                <p>WE BRING DESIGN TO LIVE</p>
            </div>
        </div>
        <div class="slide">
            <div class="slide_content">
                <h1>Slide Two</h1>
                <p>Your reliable design resource</p>
            </div>
        </div>
        <div class="slide">
            <div class="slide_content">
                <h1>Slide Three</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam tempore doloremque quod, qui
                    expedita ea!</p>
            </div>
        </div>
        <div class="slide">
            <div class="slide_content">
                <h1>Slide Four</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam tempore doloremque quod, qui
                    expedita ea!</p>
            </div>
        </div>
        <div class="slide">
            <div class="slide_content">
                <h1>Slide Five</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam tempore doloremque quod, qui
                    expedita ea!</p>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button id="slideNext"><i class="fas fa-arrow-right"></i></button>
        <button id="slidePrev"><i class="fas fa-arrow-left"></i></button>
    </div>
    <div class="bullets">
    </div>
</div>

<script src="{% static '/script/carousel.js' %}"></script>