<footer class="footer">
       <div class="container">
            <div class="nav_footer">
                <ul class="navf_links">
                    <li class="navf_item"></li>
                    <li class="navf_item"></li>
                    <li class="navf_item"></li>
                    <li class="navf_item"></li>
                    <li class="navf_item"></li>
                </ul>
            </div>
            <div class="contact_footer">
                <div class="conf_email"></div>
                <div class="conf_phone"></div>
            </div>
       </div>
</footer>