<div class="introduction"  id="nav_aboutUs">
        <div class="container">
            <h1>HOME</h1>
            <p><strong>Visualution Limited</strong> is a computer-aided design and drafting firm locate in New Zealand, our company is diversifying its business capabilities by supporting local markets with our latest CAD and BIM platforms. In particular, we focus on construction design and engineering capabilities to strengthen our competitiveness.</p>
            <p>We are committed to active market development and aim to become a global comprehensive engineering company that leads global construction projects by establishing optimized management infrastructure.
            </p>
            <p>We will place top priority on 'human' and become a creative and exemplary company that grows with you and contributes to society, taking a leap forward to a better future with a united mind with customers.</p>
        </div>
</div>
