{% load static %}
<nav class="navbar_h1">
    <div class="container">
        <img src="{% static '\img\Visualution-LOGO3-trim-bgremove.png' %}" alt="Missing Photo">

        <ul class="nav_links">
            <li><a class="animate_navbar" id="nav_h1_home">
                    <span></span>
                    HOME
                </a>
            </li>
            <li class="dropdown" id="nav_h1_service"><a class="animate_navbar">
                    <span></span>
                    SERVICE
                </a>
                <!-- Dropdown List preserver for furture -->
                <!-- <ul>
                    <li><a class="animate_navbar" href="#">
                            <span></span>
                            BIM
                        </a></li>
                    <li><a class="animate_navbar" href="#">
                            <span></span>
                            CAD
                        </a></li>
                    <li><a class="animate_navbar" href="#">
                            <span></span>
                            ENGINEERING
                        </a></li>
                </ul> -->
            </li>
            <li><a class="animate_navbar" id="nav_h1_project">
                    <span></span>
                    PROJECT
                </a></li>
            <li><a class="animate_navbar" id="nav_h1_aboutUs">
                    <span></span>
                    ABOUT US
                </a></li>
            <li><a class="animate_navbar" id="nav_h1_contact">
                    <span></span>
                    CONTACT
                </a></li>
        </ul>
    </div>
</nav>

<nav class="navbar_v1">


    <img class="logo" src="{% static '\img\Visualution-LOGO2-bgremove.png' %}" alt="Missing Photo">

    <ul class="nav_links">
        <li class="nav_items" id="nav_v1_home">
            <a class="nav_element">
                <i class="fas fa-home"></i>
                <img class="homelogo" src="{% static '\img\Visualution-LOGO2-bgremove.png' %}" alt="">
                <span class="link_text">HOME</span>
                <span class="animate_underline"></span>
            </a>
        </li>
        <li class="nav_items dropdown" id="nav_v1_service">
            <a class="nav_element">
                <i class="fas fa-concierge-bell"></i>
                <span class="link_text">SERVICE</span>
                <span class="animate_underline"></span>
                <!-- dropdown icon preserver for future -->
                <!-- <i class="fas fa-greater-than"></i> -->
            </a>
            <!-- dropdown list preserver for future -->
            <!-- <ul class="nav_sublinks">
                <li class="nav_subitems"><a class="nav_subelement" href="#">
                        <i class="fas fa-paper-plane"></i>
                        <span class="link_text">BIM</span>
                        <span class="animate_underline"></span>

                    </a></li>
                <li class="nav_subitems"><a class="nav_subelement" href="#">
                        <i class="fas fa-paper-plane"></i>
                        <span class="link_text">CAD</span>
                        <span class="animate_underline"></span>

                    </a></li>
                <li class="nav_subitems"><a class="nav_subelement" href="#">
                        <i class="fas fa-paper-plane"></i>
                        <span class="link_text">ENGINEERING</span>
                        <span class="animate_underline"></span>

                    </a></li>
            </ul> -->
        </li>
        <li class="nav_items" id="nav_v1_project">
            <a class="nav_element">
                <i class="fas fa-building"></i>
                <span class="link_text">PROJECT</span>
                <span class="animate_underline"></span>
            </a>
        </li>
        <li class="nav_items" id="nav_v1_aboutUs">
            <a class="nav_element">
                <i class="fas fa-users"></i>
                <span class="link_text">ABOUT US</span>
                <span class="animate_underline"></span>
            </a>
        </li>
        <li class="nav_items" id="nav_v1_contact">
            <a class="nav_element">
                <i class="fas fa-phone"></i>
                <span class="link_text">CONTACT</span>
                <span class="animate_underline"></span>

            </a>
        </li>
    </ul>
</nav>