{% load static %}
<div class="projects" id="nav_project">
    <div class="container">
        <h1 class="projects_header">VISUALUTION PROJECTS</h1>
        <div class="projects_grid">
            <div class="project_content">
                <h2>Westfield New market</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus earum veritatis voluptatem alias, aspernatur facere.</p>
            </div>
            <div class="project_content">
                <h2>Westfield New market</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus earum veritatis voluptatem alias, aspernatur facere.</p>
            </div>
            <div class="project_content">
                <h2>Westfield New market</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus earum veritatis voluptatem alias, aspernatur facere.</p>
            </div>
            <div class="project_content">
                <h2>Westfield New market</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus earum veritatis voluptatem alias, aspernatur facere.</p>
            </div>
        </div>
    </div>
</div>

