.button_submit {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    background: $light-color;
    border: 3px solid $theme-color-2;
    letter-spacing: 0.125em;
    transition: 0.5s;
    margin-top: 3rem;

    input {
        border: none;
        background: transparent;
        color: $theme-color-2;
        font-size: 1rem;
        font-family: $font-form;
        outline: none;
    }

    &:hover {
        background:$theme-color-2;
    }

    &:hover input {
        color: $theme-color-5;
    }

    & span {
        display: block;
        position: absolute;
        background: $theme-color-5;
    }

    & span:nth-child(1) {
        left: 0;
        bottom: 0;
        width: 3px;
        height: 100%;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.25s;
    }

    &:hover span:nth-child(1) {
        transform: scaleY(1);
        transform-origin: bottom;
        transition: transform 0.25s;
    }

    & span:nth-child(2) {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.25s;
    }

    &:hover span:nth-child(2) {
        transform: scaleX(1);
        transform-origin: left;
        transition: transform 0.25s;
    }

    & span:nth-child(3) {
        right: 0;
        bottom: 0;
        width: 3px;
        height: 100%;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.25s;
        transition-delay: 0.25s;
    }

    &:hover span:nth-child(3) {
        transform: scaleY(1);
        transform-origin: bottom;
        transition: transform 0.25s;
        transition-delay: 0.25s;
    }

    & span:nth-child(4) {
        left: 0;
        top: 0;
        width: 100%;
        height: 3px;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.25s;
        transition-delay: 0.25s;
    }

    &:hover span:nth-child(4) {
        transform: scaleX(1);
        transform-origin: left;
        transition: transform 0.25s;
        transition-delay: 0.25s;
    }
}